In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline
pd.options.display.float_format = '{:,.2f}'.format
plt.style.use('seaborn-white')
# colorblind safe
plt.style.use('seaborn-colorblind')
plt.style.use('tableau-colorblind10')

# width and precision for f strings
width = 10
precision = 4

# default sizes for plots
# https://matplotlib.org/3.3.0/tutorials/introductory/customizing.html#customizing-with-matplotlibrc-files
plt.rcParams['figure.figsize'] = [10, 6]
plt.rcParams['font.size'] = 16
plt.rcParams['legend.fontsize'] = 'large'
plt.rcParams['figure.titlesize'] = 'medium'
plt.rcParams['lines.linewidth'] = 2

# other settings
pd.options.display.float_format = '{:,.4f}'.format
pd.set_option("display.precision", 3)
np.set_printoptions(precision=3, suppress=True)
%load_ext autoreload
%autoreload 2
pd.set_option('display.max_columns', None)
%config IPCompleter.greedy=True

In [2]:
USdata = pd.read_csv('data/USdata_zip_states_combined_cleaned.csv')

In [5]:
#combine with this? then filter for just states I downloaded data from
USdata_camgrounds_zip_states_combined = pd.read_csv('data/USdata_est_campgrounds_zip_states_combined.csv')
USdata_camgrounds_zip_states_combined = USdata_camgrounds_zip_states_combined[USdata_camgrounds_zip_states_combined['State'] != '']
USdata_camgrounds_zip_states_combined = USdata_camgrounds_zip_states_combined.drop('Unnamed: 0', axis=1)
USdata_camgrounds_zip_states_combined = USdata_camgrounds_zip_states_combined.drop(43)

In [17]:
USdata_camgrounds_zip_states_combined = USdata_camgrounds_zip_states_combined[~pd.isna(USdata_camgrounds_zip_states_combined['State'])]

In [18]:
USdata_camgrounds_zip_states_combined.to_csv('data/USdata_est_campgrounds_zip_states_combined_cleaned.csv')

In [21]:
list(USdata_camgrounds_zip_states_combined['Category'].unique())

['Established Campground']

In [20]:
USdata_camgrounds_zip_states_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3740 entries, 0 to 3818
Data columns (total 38 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Location                   946 non-null    object
 1   Name                       3740 non-null   object
 2   Category                   3740 non-null   object
 3   Description                3739 non-null   object
 4   Latitude                   3740 non-null   object
 5   Longitude                  3740 non-null   object
 6   Altitude                   3644 non-null   object
 7   Date verified              3740 non-null   object
 8   Open                       3740 non-null   object
 9   Electricity                3740 non-null   object
 10  Wifi                       3740 non-null   object
 11  Kitchen                    3740 non-null   object
 12  Parking                    0 non-null      object
 13  Restaurant                 3740 non-null   object
 14  Showers                    3740 non-null   object
 15  Water                      3740 non-null   object
 16  Toilets                    3740 non-null   object
 17  Big rig friendly           3740 non-null   object
 18  Tent friendly              3740 non-null   object
 19  Pet friendly               3740 non-null   object
 20  Sanitation dump station    3740 non-null   object
 21  Outdoor gear               0 non-null      float64
 22  Groceries                  0 non-null      float64
 23  Artesian goods             0 non-null      float64
 24  Bakery                     0 non-null      float64
 25  Rarity in this area        0 non-null      float64
 26  Repairs vehicles           0 non-null      float64
 27  Repairs motorcycles        0 non-null      float64
 28  Repairs bicycles           0 non-null      float64
 29  Sells parts                0 non-null      float64
 30  Recycles batteries         0 non-null      float64
 31  Recycles oil               0 non-null      float64
 32  Bio fuel                   0 non-null      float64
 33  Electric vehicle charging  0 non-null      object
 34  Composting sawdust         0 non-null      float64
 35  Recycling center           0 non-null      float64
 36  zip_code                   2794 non-null   object
 37  State                      3740 non-null   object
dtypes: float64(14), object(24)
memory usage: 1.1+ MB

In [22]:
names = ['CO', 'CA', 'AZ', 'OR', 'UT', 'WA']

In [30]:
to_combine = [USdata_camgrounds_zip_states_combined, USdata]

In [31]:
# combine
USdata_with_est_campgrounds = pd.concat(to_combine)

In [32]:
USdata_with_est_campgrounds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12412 entries, 0 to 8671
Data columns (total 38 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Location                   2241 non-null   object
 1   Name                       12412 non-null  object
 2   Category                   12412 non-null  object
 3   Description                12411 non-null  object
 4   Latitude                   12412 non-null  object
 5   Longitude                  12412 non-null  object
 6   Altitude                   12103 non-null  object
 7   Date verified              12412 non-null  object
 8   Open                       12412 non-null  object
 9   Electricity                11609 non-null  object
 10  Wifi                       11609 non-null  object
 11  Kitchen                    11609 non-null  object
 12  Parking                    0 non-null      object
 13  Restaurant                 11609 non-null  object
 14  Showers                    11873 non-null  object
 15  Water                      11609 non-null  object
 16  Toilets                    11609 non-null  object
 17  Big rig friendly           11609 non-null  object
 18  Tent friendly              11609 non-null  object
 19  Pet friendly               11609 non-null  object
 20  Sanitation dump station    3740 non-null   object
 21  Outdoor gear               0 non-null      float64
 22  Groceries                  0 non-null      float64
 23  Artesian goods             0 non-null      float64
 24  Bakery                     0 non-null      float64
 25  Rarity in this area        0 non-null      float64
 26  Repairs vehicles           0 non-null      float64
 27  Repairs motorcycles        0 non-null      float64
 28  Repairs bicycles           0 non-null      float64
 29  Sells parts                0 non-null      float64
 30  Recycles batteries         21 non-null     object
 31  Recycles oil               21 non-null     object
 32  Bio fuel                   21 non-null     object
 33  Electric vehicle charging  21 non-null     object
 34  Composting sawdust         21 non-null     object
 35  Recycling center           21 non-null     object
 36  zip_code                   9625 non-null   object
 37  State                      11866 non-null  object
dtypes: float64(9), object(29)
memory usage: 3.7+ MB

In [33]:
USdata_with_est_campgrounds.head()

,Location,Name,Category,Description,Latitude,Longitude,Altitude,Date verified,Open,Electricity,Wifi,Kitchen,Parking,Restaurant,Showers,Water,Toilets,Big rig friendly,Tent friendly,Pet friendly,Sanitation dump station,Outdoor gear,Groceries,Artesian goods,Bakery,Rarity in this area,Repairs vehicles,Repairs motorcycles,Repairs bicycles,Sells parts,Recycles batteries,Recycles oil,Bio fuel,Electric vehicle charging,Composting sawdust,Recycling center,zip_code,State
0,"Borrego Salton Seaway, Borrego Springs, CA 920...",Arroyo Salado Camping,Established Campground,"Free with two vault toilets, nothing else exis...",33.280188,-116.14578799999998,0.0,2020-02-16 14:20:45 UTC,Yes,No,No,No,NaN,No,No,No,Pit Toilets,Yes,Yes,Yes,Unknown,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CA
1,"Stateline Campground Rd, Kanab, UT 84741, USA",State Line Campground,Established Campground,Cute free BLM camping in near TH baths.,37.001290000000004,-112.03558799999999,0.0,2019-09-29 09:53:41 UTC,Yes,No,No,No,NaN,No,No,No,Pit Toilets,No,Yes,Yes,Unknown,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UT
2,"Glenn Hwy, Glennallen, AK 99588, USA",Tolsona River RV Park and Campground,Established Campground,An old standby for us. Multiple sites for lar...,62.09536800000001,-145.980492,0.0,2016-05-27 11:38:27 UTC,Yes,Unknown,Unknown,Unknown,NaN,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AK
3,"Beverly Beach State Park, Newport, OR 97365, USA",Beverly Beach State Park,Established Campground,This is a great beach for a first night on the...,44.728808,-124.05551399999999,0.0,2020-02-07 00:00:00 UTC,Yes,Yes - At Sites,No,No,NaN,No,Hot,Potable,Running Water,Yes,Yes,Yes,Unknown,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OR
4,"Cottell Ln, Coos Bay, OR 97420, USA",Sunset Bay State Park,Established Campground,"Another night, another campground. Full hooku...",43.330797,-124.370728,2.66557884216309,2020-06-27 00:00:00 UTC,Yes,Yes - At Sites,No,No,NaN,No,Hot,Potable,Running Water,Yes,Yes,Yes,Unknown,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OR

In [34]:
USdata_with_est_campgrounds_some_states = USdata_with_est_campgrounds[USdata_with_est_campgrounds['State'].isin(names)]

In [35]:
USdata_with_est_campgrounds_some_states.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5364 entries, 0 to 8671
Data columns (total 38 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Location                   1078 non-null   object
 1   Name                       5364 non-null   object
 2   Category                   5364 non-null   object
 3   Description                5363 non-null   object
 4   Latitude                   5364 non-null   object
 5   Longitude                  5364 non-null   object
 6   Altitude                   5276 non-null   object
 7   Date verified              5364 non-null   object
 8   Open                       5364 non-null   object
 9   Electricity                4945 non-null   object
 10  Wifi                       4945 non-null   object
 11  Kitchen                    4945 non-null   object
 12  Parking                    0 non-null      object
 13  Restaurant                 4945 non-null   object
 14  Showers                    5084 non-null   object
 15  Water                      4945 non-null   object
 16  Toilets                    4945 non-null   object
 17  Big rig friendly           4945 non-null   object
 18  Tent friendly              4945 non-null   object
 19  Pet friendly               4945 non-null   object
 20  Sanitation dump station    1409 non-null   object
 21  Outdoor gear               0 non-null      float64
 22  Groceries                  0 non-null      float64
 23  Artesian goods             0 non-null      float64
 24  Bakery                     0 non-null      float64
 25  Rarity in this area        0 non-null      float64
 26  Repairs vehicles           0 non-null      float64
 27  Repairs motorcycles        0 non-null      float64
 28  Repairs bicycles           0 non-null      float64
 29  Sells parts                0 non-null      float64
 30  Recycles batteries         16 non-null     object
 31  Recycles oil               16 non-null     object
 32  Bio fuel                   16 non-null     object
 33  Electric vehicle charging  16 non-null     object
 34  Composting sawdust         16 non-null     object
 35  Recycling center           16 non-null     object
 36  zip_code                   4286 non-null   object
 37  State                      5364 non-null   object
dtypes: float64(9), object(29)
memory usage: 1.6+ MB

In [42]:
# calc categories
USdata_with_est_campgrounds_some_states.loc[:,['Category', 'Description']].groupby(['Category']).agg('count')

                        Description
Category
Eco-Friendly                     16
Established Campground         1408
Informal Campsite               887
Short-term Parking               11
Showers                         139
Water                           253
Wild Camping                   2649

In [41]:
# calc state totals
USdata_with_est_campgrounds_some_states.loc[:,['State', 'Description']].groupby(['State']).agg('count')

       Description
State
AZ             886
CA            1698
CO             707
OR             729
UT             651
WA             692